[submodule "riscv-core-harness"]
	path = riscv-core-harness
	url = https://github.com/Kawanami-git/riscv-core-harness.git
[submodule "sv-tools"]
	path = sv-tools
	url = https://github.com/Kawanami-git/sv-tools.git
